.beacon
{
	height: 10vh;
	color:white;
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;

}

.beacon.icymarshmallow{
	background-image: url("/beacons/sticker_icymarshmallow.svg");
}

.beacon.blueberrypie{
	background-image: url("/beacons/sticker_blueberrypie.svg");
}

.beacon.mintcocktail{
	background-image: url("/beacons/sticker_mintcocktail.svg");
}

.beacon.ice{
	background-image: url("/beacons/beacon_ice.png");
}

.beacon.fridge:after{
	background-image: url("/beacons/ico-fridge.svg");
}

.beacon.dog:after{
	background-image: url("/beacons/ico-dog.svg");
}
.beacon.bed:after{
	background-image: url("/beacons/ico-bed.svg");
}
.beacon:after{
content:'';
margin-top: 20%;
margin-bottom: 20%;
	width: 100%;
	height: 60%;
	background-repeat: no-repeat;
	background-size: contain;   
    display: block;
    background-position:center center;
}