#radarContainer{
  margin-left: 20vw;
    width:100vw;
    height:50vw;
    overflow: hidden;
}

#radar{
  position:relative;
  width:50vw;
  height:50vw;
  background:#222 url(img/radarbackground.png);
  background-size: contain;
  border-radius:320px;
}
#rad{
   position:absolute;
    width:50vw;
    height:50vw;
    background:url(img/radarshadow.png);
    background-size: contain;
}

.beaconDot.spot{
top:-55%;
left:25%;
}

.beaconDot.near {
    top:-30%;
    left:20%;
}

.beaconDot.far {
        top:-15%;
    left:15%;
}

.beaconDot {
    width: 5vw;
    height: 5vw;
    background: rgb(0, 255, 0);
    border-radius: 50%;
    position:relative;
}